doctype html
html(lang="en")
	head
		script(src='https://code.jquery.com/jquery-2.1.4.min.js')
		link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/styles/default.min.css")
		script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/highlight.min.js')
		script(src='../scripts/script.js')
		title="Hi"
	body
		h1 Dude check this shit out
		p Test happy
		p.
			Oh wow I am writing a paragraph under this paragraph using the period.