doctype html
html(lang="en")
	head
		link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/styles/default.min.css")
		link(href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css')
		link(rel="stylesheet" href="../style/style.css")
		title="Hi"
	body
		h1#title Source Highlighter!
		
		div.style-1
			input#field(type="text" placeholder="Enter your url here!")

		div#submit.mybtn.unselectable(onclick="getSource()") Get the Source!
		//- p Test happy
		//- p.
		//- 	Oh wow I am writing a paragraph under this paragraph using the period.

		script(src='https://code.jquery.com/jquery-2.1.4.min.js')
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous")
		script(src='../scripts/script.js')