doctype html
html(lang="en")
	head
		title="Hi there"
	body
		h1 Dude check this shit out
		p This is some paragraph I am writing
		p.
			Oh wow I am writing a paragraph under this paragraph using the period.